.FONT_EDIT{text-align: center;}
H1{font-size: 15px;}
p{font-size: 10px;}
.icc{font-size: 60px; border-radius: 50%; border: 2px black solid;}
.mt{margin-top: 50px;}
.heig{ max-height: 600px;}
.carousel-caption{ top:150px;}
.FONT01{font-family: 'Nanum Gothic', sans-serif; font-size: 13px;}